<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <div>
        <%- include('partials/sidebar') %>
    </div>
    <div class="mainMessages">
        <div class="titleHead">
            <h1>Messages</h1>
        </div>
        <div class="messages">
            <% messages.forEach(msg => { %>
                <div class="allInfo">
                    <div class="userPic">
                        <span class="material-icons">person</span>
                    </div>
                    <div class="userInfo">
                        <% if (locals.user && locals.user.member === true) { %>
                            <div class="userElements">
                                <div class="userEl-name">
                                    <p><%= msg.username %></p>
                                </div>
                                    <div class="userEl-date">
                                    <p><%= msg.added ? new Date(msg.added).toLocaleDateString('en-US', { month: 'short', day: '2-digit' }) : '' %></p>
                                    </div>                                
                                <% if (locals.user && locals.user.admin) { %>
                                    <form action="/<%= msg.message_id %>/delete" method="POST">
                                        <button type="submit" onclick="return confirm('Are you sure?')">
                                            Delete
                                        </button>
                                    </form> 
                                <% } %>
                                </div>
                        <% } else { %>
                            <small class="hiddenUser">Anonymous <span>(Only for members)</span></small>
                        <% } %>
                        <div class="msgText">
                            <p><%= msg.text %></p>
                        </div>
                        <div class="msgIcons">
                            <div class="favorite">
                                <span class="material-icons">favorite</span>
                            </div>
                            <div class="comment">
                                <span class="material-icons">comment</span>
                            </div>                          
                            <div class="share">
                                <span class="material-icons">share</span>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>